description = "Login Layout"
==
{% if not user %}

    <div class="grid">

        <div class="column">
            <h2>Sign in</h2>
            {% partial __SELF__ ~ '::signin' %}
            <p><a href="/reset-password" title="Reset Password">Reset Password</a></p>
        </div>

        <div class="column">
            <h2>Not a Member?</h2>
            <p>Please see our Membership page for more details</p>
            <p><a href="/memberships" title="Memberships" class="button">Memberships</a></p>
        </div>

    </div>

{% else %}

    {% partial __SELF__ ~ '::activation_check' %}

    {% partial __SELF__ ~ '::update' %}

    {% partial __SELF__ ~ '::deactivate_link' %}

{% endif %}