[viewBag]
snippetCode = "contact"
snippetName = "Contact Details"
==
<div class="schema" itemscope itemtype="http://schema.org/LocalBusiness">
    {% if this.theme.site_name %}<span itemprop="name">{{ this.theme.site_name }}</span>{% endif %}
    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        {% if this.theme.street_address %}<span itemprop="streetAddress">{{ this.theme.street_address }}</span>{% endif %}
        {% if this.theme.address_region %}<span itemprop="addressRegion">{{ this.theme.address_region }}</span>{% endif %}
        {% if this.theme.address_locality %}<span itemprop="addressLocality">{{ this.theme.address_locality }}</span>{% endif %}
        {% if this.theme.postal_code %}<span itemprop="postalCode">{{ this.theme.postal_code }}</span>{% endif %}
    </address>
    <p>
        {% if this.theme.phone %}<a itemprop="telephone" href="tel:{{ this.theme.phone }}" title="Telephone">{{ this.theme.phone }}</a><br />{% endif %}
        {% if this.theme.contact_email %}<a itemprop="email" href="mailto:{{ this.theme.contact_email }}" title="{{ this.theme.contact_email }}">{{ this.theme.contact_email }}</a>{% endif %}
    </p>
</div>