description = "System Messages"
==
<?php
function onStart() {
    // draw messages from Redirect::to()->with()
    $this['message'] = \Session::pull('message');
    $this['success'] = \Session::pull('success');
    $this['error']   = \Session::pull('error');
}
?>
==
{# display messages from redirect with #}
{% if message %}
<div class="message">{{ message }}</div>
{% endif %}

{% if error %}
<div class="message error">{{ error }}</div>
{% endif %}

{% if success %}
<div class="message success">{{ success }}</div>
{% endif %}

{# display messages from flash #}
{% flash %}
<div class="message {{ type }}">{{ message }}</div>
{% endflash %}