description = "Social Icons"

[viewBag]
==

<div class="social">

    {% if this.theme.facebook %}
        <a href="{{ this.theme.facebook }}" title="Facebook" target="_blank" rel="nofollow"><i class="lab la-facebook"></i></a>
    {% endif %}

    {% if this.theme.twitter %}
        <a href="{{ this.theme.twitter }}" title="Twitter" target="_blank" rel="nofollow"><i class="lab la-twitter"></i></a>
    {% endif %}

    {% if this.theme.instagram %}
        <a href="{{ this.theme.instagram }}" title="Instagram" target="_blank" rel="nofollow"><i class="lab la-instagram"></i></a>
    {% endif %}

    {% if this.theme.pinterest %}
        <a href="{{ this.theme.pinterest }}" title="Pinterest" target="_blank" rel="nofollow"><i class="lab la-pinterest"></i></a>
    {% endif %}

    {% if this.theme.linkedin %}
        <a href="{{ this.theme.linkedin }}" title="LinkedIn" target="_blank" rel="nofollow"><i class="lab la-linkedin"></i></a>
    {% endif %}

    {% if this.theme.youtube %}
        <a href="{{ this.theme.youtube }}" title="YouTube" target="_blank" rel="nofollow"><i class="lab la-youtube"></i></a>
    {% endif %}

</div>