[viewBag]
==
{% set posts= __SELF__.posts %}

<section itemscope itemtype="http://schema.org/Blog">

{% for post in posts %}
    <article itemprop="blogPost" class="grid two-columns one-quarter-left">
        <a href="{{ post.url }}" title="{{ post.title }}">
            {% if post.featured_images %}
                <img itemprop="image" src="{{ post.featured_images[0].getPath() }}" alt="{{ post.title }}" />
            {% endif %}
        </a>
        <div>
            <a href="{{ post.url }}" title="{{ post.title }}"><h2 class="title" itemprop="headline">{{ post.title }}</h2></a>
            <p class="info" itemprop="datePublished" content="{{ post.published_at|date('c') }}">{{ post.published_at|date('M d, Y') }}</p>
            <p class="excerpt" itemprop="description">{{ post.summary }}</p>
            <a itemprop="url" href="{{ post.url }}" title="Read More" class="button">Read More</a>
        </div>
    </article>
{% endfor %}

</section>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}