* {
    box-sizing: border-box;
}

body {
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    background-color: var(--body-background-colour);
    color: var(--body-colour);
}

body.iframe {
    margin: var(--inner-spacing);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px var(--inner-spacing);
    padding: var(--inner-spacing);
    border-radius: calc(var(--inner-spacing) / 2);
}

h1 {
    color: var(--header1-colour);
    font-family: var(--header1-font-family);
    font-size: var(--header1-font-size);
    line-height: var(--header1-line-height);
    text-transform: var(--header1-transform);
    font-weight: var(--header1-weight);
}

h2 {
    color: var(--header2-colour);
    font-family: var(--header2-font-family);
    font-size: var(--header2-font-size);
    line-height: var(--header2-line-height);
    text-transform: var(--header2-transform);
    font-weight: var(--header2-weight);
}

h3 {
    color: var(--header3-colour);
    font-family: var(--header3-font-family);
    font-size: var(--header3-font-size);
    line-height: var(--header3-line-height);
    text-transform: var(--header3-transform);
    font-weight: var(--header3-weight);
}

h4 {
    color: var(--header4-colour);
    font-family: var(--header4-font-family);
    font-size: var(--header4-font-size);
    line-height: var(--header4-line-height);
    text-transform: var(--header4-transform);
    font-weight: var(--header4-weight);
}

a {
    color: var(--link-colour);
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.responsive-container iframe, .responsive-container embed {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

div > *:first-child, section > *:first-child, main > *:first-child, article > *:first-child {
    margin-top: 0;
}

div > *:last-child, section > *:last-child, main > *:last-child, article > *:last-child {
    margin-bottom: 0;
}

a.button, button {
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    background-color: var(--primary-colour);
    color: var(--body-colour);
    padding: calc(var(--spacing) / 4) 0;
}

.cc_dialog {
    padding: var(--spacing) !important;
    max-width: 75% !important;
}

.cc_dialog button {
    display: inline-block;
}

@media (max-width: 768px) {
    .cc_dialog {
        max-width: 100% !important;
        padding: var(--inner-spacing) !important;
    }
    .cc_dialog .cc_dialog_headline {
        font-size: 1rem !important;
    }
    .cc_dialog .cc_dialog_text {
        font-size: 0.75rem !important;
    }
    .cc_dialog button {
        font-size: 0.75rem !important;
        font-weight: normal !important;
    }
}

article[itemProp="blogPost"] h2 {
    margin-top: 0;
}

.text-columns {
    columns: 2;
}

.text-columns.three-columns {
    columns: 3;
}

.text-columns > p {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

@media (max-width: 768px) {
    .text-columns, .text-columns-three-columns {
        columns: 1;
    }
}

.slide {
    position: relative;
}

.slideshow.constrained {
    overflow: hidden;
}

.slideshow.constrained .slick-list, .slideshow.constrained .slick-list * {
    height: 100%;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slideshow .slick-list .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: auto;
}

.slideshow .text-overlay .title {
    color: var(--header1-colour);
    font-family: var(--header1-font-family);
    font-size: var(--header1-font-size);
    line-height: var(--header1-line-height);
    text-transform: var(--header1-transform);
    font-weight: var(--header1-weight);
    display: block;
}

.slideshow .text-overlay .description {
    font-size: 1.5rem;
    display: block;
}

.slideshow .slick-prev {
    left: var(--inner-spacing);
}

.slideshow .slick-next {
    right: var(--inner-spacing);
}

.slideshow button {
    z-index: 1;
}

.slideshow .slick-dots {
    bottom: var(--inner-spacing);
}