:root {

    --spacing: @general-spacing;
    --inner-spacing: @inner-spacing;

    --primary-colour: @primary-colour;
    --secondary-colour: @secondary-colour;
    --tertiary-colour: @tertiary-colour;

    --body-font-family: @body-font-family;
    --body-font-size: @body-font-size;
    --body-line-height: @body-line-height;
    --body-background-colour: @body-background-colour;
    --body-colour: @body-colour;

    --link-colour: @link-colour;

    --header1-font-family: @header1-font-family;
    --header1-font-size: @header1-font-size;
    --header1-line-height: @header1-line-height;
    --header1-colour: @header1-colour;
    --header1-transform: @header1-transform;
    --header1-weight: @header1-weight;

    --header2-font-family: @header2-font-family;
    --header2-font-size: @header2-font-size;
    --header2-line-height: @header2-line-height;
    --header2-colour: @header2-colour;
    --header2-transform: @header2-transform;
    --header-weight: @header2-weight;

    --header3-font-family: @header3-font-family;
    --header3-font-size: @header3-font-size;
    --header3-line-height: @header3-line-height;
    --header3-colour: @header3-colour;
    --header3-transform: @header3-transform;
    --header3-weight: @header3-weight;

    --header4-font-family: @header4-font-family;
    --header4-font-size: @header4-font-size;
    --header4-line-height: @header4-line-height;
    --header4-colour: @header4-colour;
    --header4-transform: @header4-transform;
    --header4-weight: @header4-weight;

}
