description = "Default Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
==
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }} - {{ this.theme.site_name }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}" />
        <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link href="{{ ['assets/css/variables.less', 'assets/css/grid.css', 'assets/css/general.css', 'assets/css/template.css']|theme }}" rel="stylesheet">
        {% styles %}
    </head>

    <body>

        <nav></nav>

        <header>
            {{ this.theme.site_name }}<br />
            {% if this.theme.tagline %}{{ this.theme.tagline }}<br />{% endif %}
            {% if this.theme.logo %}<img src="{{ this.theme.logo|media }}" alt="{{ this.theme.site_name }}" />{% endif %}
        </header>

        <main>
            {% partial 'layout/messages' %}
            {% page %}
        </main>

        <footer>
            {% partial 'layout/social' %}
            {% partial 'layout/contact' %}
            {% partial 'blogPosts/search' %}
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{{ ['assets/js/app.js']|theme }}"></script>
        {% framework extras %}
        {% scripts %}
        {% partial 'layout/analytics' %}

    </body>
</html>