title = "Account"
url = "/account"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "login"

[account]
paramCode = "code"
forceSecure = 0

[updatemarketingpreferences]

[paymentdetails]
updatepaymentmethod = "update-payment-method"
==
<div class="grid three-columns">
    <div>
        {% component 'account' %}
    </div>
    <div>
        {% component 'updatemarketingpreferences' %}
    </div>
    <div>
        {% component 'paymentdetails' %}
    </div>
</div>