title = "Search Results"
url = "/blog/search"
layout = "default"
is_hidden = 0
==
<?php
function onStart() {
    $search  = filter_var(post('search'), FILTER_SANITIZE_STRING);
    $this['results'] = \RainLab\Blog\Models\Post::where('title', 'like', "%$search%")->orWhere(function($query) use ($search) {
        $query->where('content', 'like', "%search%");
    })->orderBy('published_at', 'desc')->take(50)->get();
}
?>
==
<h1>Search Results</h1>
{% if results %}
    <section itemscope itemtype="http://schema.org/Blog" id="blogroll" class="white-bg">
    {% for post in results %}
        <article itemprop="blogPost" class="grid two-columns one-quarter-left">
            <a href="/news/article/{{ post.slug }}" title="{{ post.title }}">
                {% if post.featured_images %}
                    <img itemprop="image" src="{{ post.featured_images[0].getPath() }}" alt="{{ post.title }}" />
                {% endif %}
            </a>
            <div>
                <a href="/news/article/{{ post.slug }}" title="{{ post.title }}" class="link"><h2 itemprop="headline">{{ post.title }}</h2></a>
                <p class="info" itemprop="datePublished" content="{{ post.published_at|date('c') }}">{{ post.published_at|date('M d, Y') }}</p>
                {% set summary = post.summary|striptags('div,img')|trim %}
                <p class="excerpt" itemprop="description">{{ summary|length > 500 ? summary|slice(0, 500) ~ '...' : summary }}</p>
                <a itemprop="url" href="/news/article/{{ post.slug }}" title="Read More" class="button">Read More</a>
            </div>
        </article>
    {% endfor %}

    </section>
{% else %}
    <p>No Results</p>
{% endif %}
