{% set post = __SELF__.post %}

<article id="blog" itemscope itemtype="http://schema.org/BlogPosting">

    <h2 itemprop="headline">{{ post.title }}</h2>

    <div class="grid two-columns two-thirds-left">

        <div class="content" itemprop="articleBody">{{ post.content_html|raw }}</div>
        
        <div>
            {% if post.featured_images %}
                <div class="images">
                    {% for image in post.featured_images %}
                        <img
                            itemprop="image"
                            data-src="{{ image.filename }}"
                            src="{{ image.path }}"
                            alt="{{ image.description }}"/>
                    {% endfor %}
                </div>
            {% endif %}

            <p class="info">
                Posted
                {% if post.categories.count %} in
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
                on <span itemprop="datePublished" content="{{ post.published_at|date('c') }}">{{ post.published_at|date('M d, Y') }}</span>
            </p>
        </div>

    </div>

</article>